

.hedvig-letters-serif- {
    font-family: "Hedvig Letters Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  body{
   margin: 0;
   display: flex;
   justify-content: center;
   height: 100vh;
   background: linear-gradient(to bottom , #800080,#dda0dd);
   
  }
  .container{
    text-align: center;
    
    padding: 40px;
    border-radius: 10px;
  

  }
h1{
    margin-bottom: 20px;
    font-size: 45px;
}  
p{
font-size: 35px;


right: 10px;
}
input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    
    
}
 div,a{
    align-items: center;
    padding: 1px 0 10px ;
    text-decoration: none;
    color: bisque;

}
button{
    background-color: #4caf50;
    color: white;
    padding: 1% 30%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

}